/*
/.**

!/Analysis.fs
!/Components.fs
!/ExpressionAnalysis.fs
!/Graph.fs
!/KoatLexer.fsl
!/KoatGrammar.fsy
!/KoatParser.fs
!/LinearArithmetic.fs
!/NonTermination.fs
!/Program.fs
!/Ranking.fs
!/Ranking.fs
!/RankingCertificate.fs
!/RankingSynthesis.fs
!/RankingVerification.fs
!/Report.fs
!/Scc.fs
!/Syntax.fs
!/TerminationEngine.fsproj