/*
/.**

!/.gitignore
!/README.md
!/TerminationEngine.fsproj
!/Syntax.fs
!/KoatLexer.fsl
!/KoatGrammar.fsy
!/KoatParser.fs
!/Graph.fs
!/Scc.fs
!/ExpressionAnalysis.fs
!/NonTermination.fs
!/Analysis.fs
!/Report.fs
!/Program.fs
